# Virtual environment
my_venv/

# Terraform state, provider plugins, and lock files
# Terraform backend & plugin folders
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/modules/lake_formation/       # Not necessary for the project. 

# Airflow logs and runtime data
airflow/logs/
airflow/data/input/
airflow/config/config.conf

# Python cache and compiled files
__pycache__/

# VS Code and macOS system files (optional but good)
.vscode/
.DS_Store

# Don't want to version control
reddit_etl_architecture.drawio